:root {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 5%;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.color-grid {
    display: flex;
    justify-content: space-between;
}

.color-box {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.color1 {
    background-color: #00ff77;
}

.color2 {
    background-color: rgb(130, 0, 130);
}

.color3 {
    background-color: orange;
}

.color4 {
    background-color: hsl(65, 100%, 20%);
}

.color5 {
    background-color: red;
}