*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid green; */
}

:root {
  font-size: 20px;
  --dark-Violet: #15011b;
  --light-violet: #9a04c8;
  --cream-white: #fcf0c9;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--dark-Violet);
  color: var(--dark-Violet);
}

main {
  width: 600px;
  padding: 1.5rem;
  background-color: var(--cream-white);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

main:hover {
  box-shadow: 0 0 50px 1px var(--light-violet);
}

main h1 {
  text-align: center;
  margin: 2rem auto 4rem;
  font-size: 3rem;
}

.item-list {
  list-style: none;
}

.item-list li {
  font-size: 2.2rem;
  padding: 0 1rem 1.2rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list li>span {
  transition: transform 0.3s ease;
}

.item-list li>span:hover{
  transform: translateY(-20%);
}

.favorite-icon {
  font-size: 2.5rem;
  border: none;
  background-color: transparent;
}

.favorite-icon:hover {
  cursor: pointer;
}

.filled {
  transform: scale(1.1);
  transform-origin: right;
  transition: transform 0.3s ease;
  color: var(--light-violet);
}