:root {
    font-size: 20px;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    height: 100vh;
}

#email {
    padding: 50px;
    margin:  50px auto;
    width: 80vw;
    min-width: 516px;
    border: 2px solid black;
    background-color: SeaShell;
    box-shadow: 4px 2px 5px 1px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

#email p {
    font-size: 0.9em;
    min-width: 416px;
}

#confidential {
    display: inline-block;
    padding: 5px;
    margin-left: 2px;
    font-weight: bold;
    color: red;
    border: 3px solid red;
    transform: scale(1.5) translateX(120px) rotate(-15deg);
}

#top-secret {
    display: inline-block;
    padding: 5px;
    margin-left: 2px;
    font-weight: bold;
    color: red;
    border: 4px solid red;
    transform: translate(50px, 420px) rotate(10deg);
}

.blurred {
    filter: blur(3px)
}