*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid green; */
}

:root {
  font-size: 18px;
  --lightgray: #f3f3f3;
  --darkgray: #8f8f8f;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

header {
  font-size: 1.8rem;
}

#navbar {
  padding: 0;
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--lightgray);
  border-right: 2px solid var(--darkgray);
}

#navbar ul {
  padding: 0;
  height: 82%;
  overflow-y: auto;
}

#navbar ul li {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  border-top: 1px solid var(--darkgray);
}

#navbar ul li a {
  text-decoration: none;
  color: black;
}

#navbar header {
  margin-top: 1rem;
  margin-left: 1rem;
}

#main-doc {
  position: absolute;
  left: 25%;
  padding: 2rem;
}

.main-section p,
.main-section ul,
.main-section code {
  margin-left: 1rem;
}

.main-section {
  line-height: 1.5;
}

.main-section ul li {
  margin: 1rem 0;
}

.main-section code {
  display: block;
  font-size: 0.8rem;
  padding: 10px 20px;
  background-color: var(--lightgray);
  word-wrap: break-word;
}

@media screen and (max-width: 1000px) {
  #navbar {
    position: static;
    width: 100%;
    height: auto;
  }

  #navbar ul {
    border: 2px solid var(--darkgray);
    height: 40vh;
    margin-bottom: 0;
  }

  #navbar header {
    text-align: center;
    margin: 0;
  }

  #main-doc {
    position: static;
    margin-top: 1rem;
    width: 100%;
    padding-top: 0;
  }
}
