:root {
    font-size: 20px;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: thistle;
}

#playing-cards {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 40vw;
    height: 55vh;
    padding: 0.3em 0.3em;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #e9e9e9;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.red {
    color: red;
}

.left {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}

.middle {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 3.2em;
    align-items: center;
}

.middle .last-item {
    transform: rotate(180deg);
}

.right {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}