*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid green; */
}

:root {
  --bg-clr: #F7EBEC;
  --main-clr: #85BAA1;
  --txt-clr: #252323;
  --scndry-clr: #FFAF87;
  --trtry-clr: #006D77;
  --lightbox-bg: #252323a0;
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-clr);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
  width: 80%;
  font-size: 1.4rem;
}

.heading {
  text-align: center;
  padding: 0.1em 0;
  background-color: var(--main-clr);
  color: var(--txt-clr);
}

.gallery {
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-item {
  width: 15em;
  aspect-ratio: 4/5;
  object-fit: cover;
  margin: 0.3em 0.5em;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--lightbox-bg);
  display: none;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  position: relative;
  display: inline-block;
}

#lightbox-image {
  width: 90%;
  display: block;
  margin: auto;
}

@media screen and (min-width: 2000px) {
  #lightbox-image{
    width: 70%;
  }
}

#close-btn {
  font-size: 3em;
  border: none;
  background-color: transparent;
  color: var(--bg-clr);
  position: absolute;
  top: -1em;
  right: 0.2em;
  transition: transform 0.3s ease;
}

#close-btn:hover {
  cursor: pointer;
  transform: rotate(90deg);
}