* {
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(lightblue, lightblue 60%, green 60%);
}

#house {
    position: relative;
    border: 4px solid brown;
    background-color: coral;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#chimney {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    background-color: lightgray;
    background: repeating-linear-gradient(lightgray, lightgray 10%, black 10%, black 12%);
    top: -100px;
    right: 50px;
    z-index: -1;
}

#smoke {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    top: -35px;
    left: 15px;
    filter: blur(6px);
}

#roof {
    position: absolute;
    width: 100%;
    height: 120px;
    border: 0px solid brown;
    background-color: coral;
    background: repeating-linear-gradient(45deg, transparent, transparent 2%, brown 2%, brown 4%), repeating-linear-gradient(-45deg, transparent, transparent 2%, brown 2%, brown 4%);
    top: 0;
    z-index: 1;
}

#window-1 {
    position: absolute;
    width: 90px;
    height: 90px;
    border: 4px solid brown;
    background-color: lightyellow;
    background: repeating-linear-gradient(90deg, lightyellow, lightyellow 50%, brown 50%, brown 54%);
    top: 180px;
    left: 40px;
    /* top: min(210px, calc(90px / 3)); */
}

#window-2 {
    position: absolute;
    width: 90px;
    height: 90px;
    border: 4px solid brown;
    background-color: lightyellow;
    background: repeating-linear-gradient(90deg, lightyellow, lightyellow 50%, brown 50%, brown 54%);
    top: 180px;
    right: 40px;
    /* top: min(210px, calc(90px / 3)); */
}

#door {
    position: absolute;
    width: 120px;
    height: 170px;
    border: 4px solid brown;
    border-bottom: 0;
    background-color: lightgray;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#knob {
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 70px;
}

#carpet {
    width: 120px;
    height: 40px;
    border: 2px solid #000;
    background-color: lightgreen;
    position: absolute;
    bottom: -44px;
    left: 50%;
    transform: translateX(-56%) skewX(-20deg);
}

#carpet::after {
    content: "WELCOME";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-weight: bold;
}

#sun {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 50px;
    border-radius: 50%;
    background: radial-gradient(yellow, yellow 2%, transparent);
}